.section-three {
  padding: 5rem 0;
  gap: 2rem;
}

.heading {
  grid-column: 2 / -2;
  text-align: center;
  font-size: 2rem;
  color: black;
  margin-bottom: 1rem;
  span {
    color: $accent;
  }
}

.venue-one,
.venue-two {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.venue-one {
  grid-column: 3 / 6;
  background-image: url(/img/venue1.jpg);
}
.venue-two {
  grid-column: 6 / -3;
  background-image: url(/img/venue2.jpg);
}
.section-three p {
  grid-column: 3 / -3;
  font-size: 1.2rem;
  text-align: center;
}
